<html>
    <head>
        <title>Matricula - Sistema de Inscrições</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Nome disciplina</th>
                <th>creditos</th>
                <th>cod turma</th>
                <th>vagas</th>
                <th>horario</th>
                <th>prof</th>
            </tr>
            {% for turma in turmas %}
            <tr>
                <td>[{{ turma[2] }}] {{ turma[0] }}</td>
                <td>{{ turma[1] }}</td>
                <td>{{ turma[3] }}</td>
                <td>{{ turma[5] }}</td>
                <td>{{ turma[4] }}</td>
                <td>{{ turma[8] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>